<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8" />
    <title>Card format</title>
  </head>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navigation Bar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:8000/lab-4/">Table</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8000/lab-4/add-note">Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8000/lab-4/note-list">Card</a>
        </li>
      </ul>
    </div>
  </nav>
  <body>
    <div>
      {% if notes %} 
        {% for Note in notes %}
          <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
            <div class="card-header">Content</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">to: {{ Note.to }}</li>
              <li class="list-group-item">from: {{ Note.From }}</li>
              <li class="list-group-item">title: {{ Note.title }}</li>
              <li class="list-group-item">message: {{ Note.message }}</li>
            </ul>
          </div>
        {% endfor %}
      {% endif %}
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </div>
  </body>
</html>