<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <meta charset="UTF-8" />
    <title>Note</title>
  </head>
  <body>
    <!-- <div class="container"> -->
        <table>
            <tr>
              <th>to</th>
              <th>from</th>
              <th>title</th>
              <th>message</th>
            </tr>
            <!-- TODO loop from Friend model -->
            <!-- EXAMPLE SECTION -->
                {% if notes %} 
                  {% for Note in notes %}
                  <tr>
                    <td>
                      {{ Note.to }}
                    </td>
                    <td>
                        {{ Note.From }}
                    </td>
                    <td>
                        {{ Note.title }}
                    </td>
                    <td>
                        {{ Note.message }}
                    </td>
                    <br/>
                  </tr>
                  {% endfor %}
                {% endif %}
            <!-- END SECTION -->
          </table>
          <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
    <!-- </div>       -->
  </body>
</html>