<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
          {% if friends %} 
            {% for Friend in friends %}
            <tr>
              <td>
                {{ Friend.name }}
              </td>
              <td>
                  {{ Friend.npm }}
              </td>
              <td>
                  {{ Friend.DOB }}
              </td>
              <br/>
            </tr>
            {% endfor %}
          {% endif %}
      <!-- END SECTION -->
    </table>
  </body>
</html>