<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
  </head>
  <body>
    <table>
      <tr>
        <th>to</th>
        <th>from</th>
        <th>title</th>
        <th>message</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
          {% if notes %} 
            {% for Note in notes %}
            <tr>
              <td>
                {{ Note.to }}
              </td>
              <td>
                  {{ Note.From }}
              </td>
              <td>
                  {{ Note.title }}
              </td>
              <td>
                  {{ Note.message }}
              </td>
              <br/>
            </tr>
            {% endfor %}
          {% endif %}
      <!-- END SECTION -->
    </table>
  </body>
</html>