<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      <tr>
        <td>
          {% if friends %} 
            {% for Friend in friends %}
              {{ Friend.name }}
            <br/>
            {% endfor %}
          {% endif %}
        </td>
        <td>
          {% if friends %} 
            {% for Friend in friends %}
              {{ Friend.npm }}
            <br/>
            {% endfor %}
          {% endif %}
        </td>
        <td>
          {% if friends %} 
            {% for Friend in friends %}
              {{ Friend.DOB }}
            <br/>
            {% endfor %}
          {% endif %}
        </td>
      </tr>
      <!-- END SECTION -->
    </table>
  </body>
</html>
